/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
top:0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

a{ text-decoration:none; color:azure;}

/* Add some content at the bottom of the video/page */
.c1 {
  position: fixed;
  bottom: 0;
  top: 44%;
  right: 44%;
  background: rgba(111, 80, 225, 0.12);
  color: #f1f1f1;
  width: 14%;
  height: 30%;
  padding: 20px;
}

.c2 {
  position: fixed;
  bottom: 0;
  top: 47%;
  left: 54%;
  background: rgba(81, 155, 225, 0.12);
  color: #f1f1f1;
  width: 11%;
  height: 44%;
  padding: 20px;
}


.c3 {
  position: fixed;
  bottom: 0;
  top: 51%;
  left: 54.4%;
  background: rgba(181, 155, 225, 0.12);
  color: #f1f1f1;
  width: 1.4%;
  height: 8%;
  padding: 5px;
}


/* Style the button used to pause/play the video 
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
*/